<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class= lower_footer>
        <p>Other projects:</p>
        <footer>
            <li><a href="https://github.com/lironbdolah/streetdensityai">streetdensityai</a></li>
            <li><a href="https://github.com/lironbdolah/reddify">reddify</a></li>
            <li><a href="https://github.com/lironbdolah/moviescoreai">moviescoreai</a></li>
        </footer>
    </div>
</body>
</html>